@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: "Red Hat Display", sans-serif;
  }

  html[data-theme="dark"] {
    --color--primary: #050505;
    --color--secondary: #333333;
    --color--tertiary: #001e3c;
    --color--accent: #4b0082;
    --color--negative: #ffffff;
  }
}
